<form #cotizacionForm="ngForm">
  <h1>
    Realizar cotización
  </h1>
  <div class="alert alert-danger alert-dismissible fade show" *ngIf="mensajeError">
    <strong>Error! </strong>{{mensajeError}}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <div class="alert alert-primary alert-dismissible fade show" *ngIf="exito">
    <strong>Primary!</strong> This is a simple primary alert box.
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <h3>{{mensajeError}}</h3>
  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
          <label for="fechaInicio"><span class="hidden">Fecha y Hora inciales</span></label>
            <div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
              <input
                id="fechaInicio"
                class="form-control"
                [(ngModel)]="date"
                name="fechaInicio"
                [options]="options"
                NgTempusdominusBootstrapInput
                type="text"
                required
              />
              <div class="input-group-append" NgTempusdominusBootstrapToggle>
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="duracion"><span class="hidden">Duración</span></label>
        <input name="duracion" id="duracion" type="number" placeholder="Duración" ngModel required class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="totalQuotationValue"><span class="hidden">Valor cotización</span></label>
        <input type="text" name="totalQuotationValue" ngModel class="form-control"
          id="totalQuotationValue" value="{{cotizacion.totalQuotationValue}}" disabled="true"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="form-input">
        <button class="btn btn-primary" (click)="obtenerValor(cotizacionForm)"
          [disabled]="!cotizacionForm.valid">¿Cuánto vale?</button>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="form-input">
          <button class="btn btn-primary" (click)="consultarArtistasDisponibles(cotizacionForm)"
            [disabled]="!mostrarAgendas">Conslutar artistas disponibles</button>
        </div>
      </div>
    <div class="col-sm-1">
      <div class="form-input">
        <button class="btn btn-primary" (click)="limpiar()">Limpiar</button>
      </div>
    </div>
  </div>

  <div *ngIf="mostrarArtistasDisponibles" class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="duracion"><span class="hidden">Artistas Disponibles</span></label>
          <select class="form-control" ngModel name="artistaId" required>
            <option *ngFor="let artista of artistas" [value]="artista.id">{{artista.artistFullName}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="terceroNumeroId"><span class="hidden">Cédula de la persona a tatuar</span></label>
          <input type="text" name="terceroNumeroId" ngModel class="form-control"
            id="terceroNumeroId" required/>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-input">
          <button class="btn btn-primary" (click)="agendarCita(cotizacionForm)"
            [disabled]="!cotizacionForm.valid">Agendar cita</button>
        </div>
      </div>
  </div>

</form>
